.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Cormorant, sans-serif;
  font-size: 50px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.body {
  padding-top: 0px;
  background-color: #000;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.titlelogo {
  width: 400px;
}

.container {
  max-width: 1100px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px none #fff;
}

.container.topcontainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container._2ndcontainer {
  margin-top: 100px;
}

.container._3rdcontainer {
  margin-top: 100px;
}

.container._4thcontainer {
  margin-top: 100px;
}

.container.footercontainer {
  margin-top: 100px;
}

.bigh1.secondh1 {
  text-shadow: -1px 0 20px #03f;
}

.bigh1 {
  display: block;
  margin-top: 10px;
  padding-top: 0px;
  font-size: 70px;
  line-height: 60px;
  text-shadow: -1px 0 20px red;
}

.heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  background-color: transparent;
  opacity: 1;
  text-shadow: -1px 0 0 #f6c900;
}

.grid {
  margin-top: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  opacity: 1;
}

.feauturebox {
  padding-left: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-right: 1px solid #fff;
}

.feauturebox.lastbox {
  border-right-style: none;
}

.grid-2 {
  margin: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  line-height: 20px;
  font-weight: 300;
}

.rightnow {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  opacity: 1;
}

.nowimage {
  margin: 10px;
}

.nowtext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  margin: 0px 10px 20px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-size: 14px;
  line-height: 20px;
}

.calltoact {
  margin: 0px 0px 0px 10px;
  background-color: #ec383b;
}

.calltoact.scheduleacall {
  background-color: #3856ec;
  color: #fff;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3.productgrind {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3.productgrind.industrygrid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.productsquares {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  margin-top: 10px;
  margin-left: 10px;
}

.heading-4 {
  margin-left: 10px;
}

.image-2 {
  margin-left: 10px;
}

.heading-5 {
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.button {
  display: none;
  width: 80%;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
  background-color: #9d00ff;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .heading {
    margin-top: 0px;
  }

  .feauturebox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .text-block {
    padding-right: 10px;
  }

  .rightnow {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .calltoact {
    text-align: center;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .heading-3 {
    padding-right: 10px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-image {
    width: 90%;
    max-width: 100%;
  }

  .div-block-2 {
    padding-right: 10px;
  }

  .div-block-3 {
    padding-right: 10px;
  }

  .div-block-4 {
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 25px;
  }

  .bigh1 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 37px;
  }

  .heading {
    margin-top: 5px;
    font-size: 30px;
    line-height: 30px;
  }

  .feauturebox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-2 {
    margin: 10px 1px 1px;
  }

  .rightnow {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .calltoact {
    margin-top: 10px;
  }

  .div-block {
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .heading-2 {
    margin-top: 0px;
  }

  .grid-3.productgrind {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-3.productgrind.industrygrid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .productsquares {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    max-width: 89%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    border-bottom: 0px none #000;
  }

  .bigh1 {
    font-size: 30px;
    line-height: 30px;
  }

  .heading {
    margin-top: 0px;
    font-size: 20px;
    line-height: 20px;
  }

  .grid {
    display: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feauturebox {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    border-right-style: none;
  }

  .feauturebox.lastbox {
    border-bottom-style: none;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rightnow {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-3.productgrind {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-3.productgrind.industrygrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ff70a2de-e404-bc3c-adda-7b6c79f0bb4d-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_16055a03-bce0-b071-4373-700b24ce76cf-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_1e1167e6-3ac8-6306-b4cd-860cdc11e5eb-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_1e1167e6-3ac8-6306-b4cd-860cdc11e5f3-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_1e1167e6-3ac8-6306-b4cd-860cdc11e5fb-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_1e1167e6-3ac8-6306-b4cd-860cdc11e603-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-_4a6c3a8b-5cd2-82cf-974f-b1b1615c091d-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-fae1a73a-8da9-397a-5066-ee01c03d3df7-1e55ee03 {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

